span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 800ms linear;
    background-color: #F2F2F2;
    opacity: 0.8;
}

@keyframes ripple {
    to {
      transform: scale(6);
      opacity: 0;
    }
  }
